<footer class="bg-dark text-white text-center py-3 mt-auto">
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#!">About</a></li>
        <li class="list-inline-item">⋅</li>
        <li class="list-inline-item"><a href="#!">Contact</a></li>
        <li class="list-inline-item">⋅</li>
        <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
        <li class="list-inline-item">⋅</li>
        <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
        <li>
            <p class="">&copy; Your Website 2024. All Rights Reserved.</p>
        </li>
    </ul>
</footer>