<h2>Listado de Alumnos en {{nombreTecnicatura}}</h2>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha_nacimiento</th>
            <th>Dni_pasaporte</th>
            <th>Genero</th>
            <th>Email</th>
            <th>Nº de Resolución</th>
            <th>Estado de Vigencia de la Resolución</th>
            <th>Fecha de caducidad de la Resolución</th>
        </tr>
    </thead>
    <tbody>
        @for(alum of alumnosTecnicatura; track alum.id){
        <tr>
            <td>{{ alum.nombre }}</td>
            <td>{{ alum.apellido }}</td>
            <td>{{ alum.fechaNacimiento}}</td>
            <td>{{ alum.dniPasaporte }}</td>
            <td>{{ alum.genero }}</td>
            <td>{{ alum.email }}</td>
            <td>{{ alum.resolucion }}</td>
            <td>{{ alum.estadoResolucion }}</td>
            <td>{{ alum.fechaCaducidadResolucion }}</td>
        </tr>
        }
    </tbody>
</table>