<main>
    <h2>Listado de Tecnicaturas</h2>
    <button class="btn btn-primary" routerLink="/createTecForm">Agregar tecnicatura</button>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Duracion</th>
                <th>Cantidad Asignaturas</th>
                <th>Numero de Resolucion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @for(tec of tecnicaturas; track tec.id){
            <tr>
                <td>{{tec.nombre}}</td>
                <td>{{tec.duracion}}</td>
                <td>{{tec.cantidadAsignaturas}}</td>
                <td>{{tec.numeroResolucion}}</td>
                <td><button [routerLink]="['/editTecForm', tec.id]" class="btn btn-secondary m-1">Editar</button><button
                        (click)="eliminar(tec.id)" class="btn btn-danger m-1">Eliminar</button><button (click)="verListado(tec.nombre,tec.id)" class="btn btn-dark m-1">Ver Listado
                        Alumnos</button><button [routerLink]="['/listaInscripcion', tec.id, tec.nombre]" class="btn btn-primary">Agregar Alumno</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</main>