<p>tecnicatura works!</p>
<h2>Listado de Tecnicaturas</h2>
<button class="btn btn-secondary" routerLink="/createTecForm">Crear tecnicatura</button>
<table class="table mt-3" id="tecnicaturas-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Duracion</th>
            <th>Cantidad Asignaturas</th>
            <th>Numero de Resolucion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>###</td>
            <td>###</td>
            <td>###</td>
            <td>###</td>
            <td>###</td>
        </tr>
    </tbody>
</table>
