<h2>Listado de Tecnicaturas</h2>
<button class="btn btn-secondary" routerLink="/createTecForm">Crear tecnicatura</button>
<table class="table mt-3" id="tecnicaturas-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Duracion</th>
            <th>Cantidad Asignaturas</th>
            <th>Numero de Resolucion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @for(tec of tecnicaturas; track tec.id){
        <tr>
            <td>{{tec.nombre}}</td>
            <td>{{tec.duracion}}</td>
            <td>{{tec.cantidadAsignaturas}}</td>
            <td>{{tec.numeroResolucion}}</td>
            <td><button [routerLink]="['/editTecForm', tec.id]">Editar</button><button (click)="eliminar(tec.id)">Eliminar</button><button [routerLink]="['/listAlumTec']" [state]="tec.alumnos">Ver Listado Alumnos</button><button [routerLink]="['/listaInscripcion', tec.id]">Agregar Alumno</button></td>
        </tr>
        }
    </tbody>
</table>